* {
    font-family: verdana;
    box-sizing: border-box;
}


button {
    position: relative;
    min-width: 64px;
    min-height: 64px;
    text-transform: uppercase;
    color: #C74000;
    font-weight: bold;
    font-size: 36px;
    border: solid 4px #952200;
    border-radius: 12px!important;
    text-shadow: 2px 2px 4px #ffdd00;
    padding: 0;
    background: #ff8c00;
}

button span {
    position: absolute;
    top: 0;
    left: 0;
    height: 85%;
    width: 100%;
    padding-top: 2px;
    background: linear-gradient(180deg, #ff9c00 0%, #ffe600 100%);
    border-radius: 10px;
}

button:disabled {
    background: #777777;
    color: #555555;
    text-shadow: 2px 2px 4px #aaa;
    border-color: #444444;
}

button:disabled span {
    background: #999999;
}

.answer-wrapper {
    border: solid 4px #0f397a;
    border-radius: 12px;
}

.answer-wrapper .outline {
    position: relative;
    border: solid 6px #007ed4;
    border-radius: 7px;
    height: 100%;
    background: linear-gradient(180deg, #072266 0%, #40b7fe 100%);
    padding: 4px;
}

.answer {
    position: relative;
    width: 100%;
    height: 60px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 29px;
    text-shadow: 2px 2px 4px #333333;
    border: none;
    background: none;
    text-align: center;
}

.answer button {
    margin: 8px 0;
}

.box-score {
    position: relative;
    width: 140px;
    height: 64px;
    background: linear-gradient(180deg, #5fbffb 0%, #e9f2ff 100%);
    border: solid 4px #021745;
    border-radius: 8px;
    text-align: center;
    padding: 9px;
}

.box-score label, .box-category span {
    color: #ffc12e;
    -webkit-text-stroke: 2px #c74000;
    text-shadow: 0px 2px 0 #c74000;
    font-weight: bolder;
    font-size: 16px;
}

.box-score span {
    color: #007fd5;
    text-shadow: 0px 2px 0 #aaaaaa;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    letter-spacing: -2px;
}

a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 20px;
}

.btn-auth {
    width: 40%;
}

.btn-logout {
    float: right;
    background: #952200;
    border: solid 4px #021745;
    color: #691533;
    text-shadow: 1px 1px 2px #952200;
}

.btn-logout span {
    background: linear-gradient(180deg, #88001b 0%, #ec1c24 100%);
}

.btn-erase {
    background: #3e9800;
    border: solid 4px #003500;
    color: #c51f1a;
    text-shadow: 1px 1px 0px #6bb300;

}

.btn-erase span {
    background: linear-gradient(180deg, #8fda00 0%, #b2f000 100%);
}

.btn-small {
    min-width: 36px;
    min-height: 36px;
    font-size: 14px;
}

.notification {
    position: absolute;
    left: 50%;
    top: -24px;
    padding: 8px;
    border-radius: 8px;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 14px;
    border: solid 2px #003500;
    z-index: 1;
}

.correct {
    background: #3e9800;
}

.wrong {
    background: #952200;
}

.hidden {
    display: none;
}

.header .title {
    float: left;
    font-size: 24px;
    color: #ffffff;
    padding: 16px 4px;
}

/* Layout */
.header {
    height: 85px;
    padding: 8px 10px;
    background: rgb(4,112,196);
    background: linear-gradient(180deg, rgba(4,112,196,1) 0%, rgba(17,52,128,1) 100%);
    border-top: solid 2px #01beea;
    border-bottom: solid 2px #1a53d6;
    outline: solid 2px #0a2c67;
}

.box-logo {
    margin-top: 100px;
    text-align: center;
}

.box-logo button {
    margin-bottom: 10px;
}

.box-form {
    position: relative;
    margin-top: 50px;
    text-align: center;
}

.box-category {
    color: #eeeeee;
    text-align: center;
    padding: 16px;
    text-transform: capitalize;
}

.box-category span {
    font-size: 48px;
}

.box-answer {
    margin: 16px 0 32px 0;
    padding: 0 16px;
}

.box-button {
    text-align: center;
}

.box-button button {
    margin: 10px;
}

/* table */
.box-table table {
    width: 100%;
    border-collapse: collapse;
    background: #ffffff;
}

.box-table th {
    color: #D5DDE5;
    background:#505050;
    font-size: 16px;
    padding: 3px;
    vertical-align:middle;
}

.box-table td {
    padding: 8px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}
